<div *ngIf="active" class="container" (contextmenu)="onRightClick($event)">
  <div class="buttons">

    <!-- row one -->
    <div class="button one">1</div>
    <div class="button two">2</div>
    <div class="button three">3</div>
    <div class="button four">4</div>
    <div class="button five">5</div>
    <div class="button six">6</div>
    <div class="button seven">7</div>
    <div class="button eight">8</div>
    <div class="button nine">9</div>
    <div class="button zero">0</div>

    <!-- row two -->
    <div class="button q">q</div>
    <div class="button w">w</div>
    <div class="button e">e</div>
    <div class="button r">r</div>
    <div class="button t">t</div>
    <div class="button y">y</div>
    <div class="button u">u</div>
    <div class="button i">i</div>
    <div class="button o">o</div>
    <div class="button p">p</div>

    <!-- row three -->
    <div class="button a">a</div>
    <div class="button s">s</div>
    <div class="button d">d</div>
    <div class="button f">f</div>
    <div class="button g">g</div>
    <div class="button h">h</div>
    <div class="button j">j</div>
    <div class="button k">k</div>
    <div class="button l">l</div>
    <div class="button backspace"><</div>

    <!-- row four -->
    <div class="button z">z</div>
    <div class="button x">x</div>
    <div class="button c">c</div>
    <div class="button v">v</div>
    <div class="button b">b</div>
    <div class="button n">n</div>
    <div class="button m">m</div>
    <div class="button dot">.</div>
    <div class="button hyphen">-</div>
    <div class="button enter"><-'</div>

    <!-- row five -->
    <div class="button www">www.</div>
    <div class="button com">.com</div>
    <div class="button space">&nbsp;</div>
    <div class="button net">.net</div>
    <div class="button org">.org</div>

  </div>
</div>