<div *ngIf="active" class="container" (contextmenu)="onRightClick($event)">
  <div class="buttons">

    <!-- row one -->
    <div class="button one" (click)="simulateKey('1')">1</div>
    <div class="button two" (click)="simulateKey('2')">2</div>
    <div class="button three" (click)="simulateKey('3')">3</div>
    <div class="button four" (click)="simulateKey('4')">4</div>
    <div class="button five" (click)="simulateKey('5')">5</div>
    <div class="button six" (click)="simulateKey('6')">6</div>
    <div class="button seven" (click)="simulateKey('7')">7</div>
    <div class="button eight" (click)="simulateKey('8')">8</div>
    <div class="button nine" (click)="simulateKey('9')">9</div>
    <div class="button zero" (click)="simulateKey('0')">0</div>

    <!-- row two -->
    <div class="button q" (click)="simulateKey('q')">q</div>
    <div class="button w" (click)="simulateKey('w')">w</div>
    <div class="button e" (click)="simulateKey('e')">e</div>
    <div class="button r" (click)="simulateKey('r')">r</div>
    <div class="button t" (click)="simulateKey('t')">t</div>
    <div class="button y" (click)="simulateKey('y')">y</div>
    <div class="button u" (click)="simulateKey('u')">u</div>
    <div class="button i" (click)="simulateKey('i')">i</div>
    <div class="button o" (click)="simulateKey('o')">o</div>
    <div class="button p" (click)="simulateKey('p')">p</div>

    <!-- row three -->
    <div class="button a" (click)="simulateKey('a')">a</div>
    <div class="button s" (click)="simulateKey('s')">s</div>
    <div class="button d" (click)="simulateKey('d')">d</div>
    <div class="button f" (click)="simulateKey('f')">f</div>
    <div class="button g" (click)="simulateKey('g')">g</div>
    <div class="button h" (click)="simulateKey('h')">h</div>
    <div class="button j" (click)="simulateKey('j')">j</div>
    <div class="button k" (click)="simulateKey('k')">k</div>
    <div class="button l" (click)="simulateKey('l')">l</div>
    <div class="button backspace" (click)="simulateKey('backspace')"><</div>

    <!-- row four -->
    <div class="button z" (click)="simulateKey('z')">z</div>
    <div class="button x" (click)="simulateKey('x')">x</div>
    <div class="button c" (click)="simulateKey('c')">c</div>
    <div class="button v" (click)="simulateKey('v')">v</div>
    <div class="button b" (click)="simulateKey('b')">b</div>
    <div class="button n" (click)="simulateKey('n')">n</div>
    <div class="button m" (click)="simulateKey('m')">m</div>
    <div class="button dot" (click)="simulateKey('.')">.</div>
    <div class="button hyphen" (click)="simulateKey('-')">-</div>
    <div class="button enter" (click)="simulateKey('enter')"><-'</div>

    <!-- row five -->
    <div class="button www" (click)="simulateKey('www.')">www.</div>
    <div class="button com" (click)="simulateKey('.com')">.com</div>
    <div class="button space" (click)="simulateKey(' ')">&nbsp;</div>
    <div class="button net" (click)="simulateKey('.net')">.net</div>
    <div class="button org" (click)="simulateKey('.org')">.org</div>

  </div>
</div>