<div id="navbar">
  <div class="container">

    <h3>--- EYEFIND... It's like a series of tubes ---</h3>
    <div class="navigation">
      <div class="controls">
        <img class="navbar icon" src="/assets/open-iconic/svg/chevron-left.svg" alt="Chevron Left">
        <img class="navbar icon" src="/assets/open-iconic/svg/chevron-right.svg" alt="Chevron Right">
        <img class="navbar icon" src="/assets/open-iconic/svg/home.svg" alt="Home">
        <img class="navbar icon" src="/assets/open-iconic/svg/clock.svg" alt="Clock">
        <input type="text" name="addressBar" id="addressBar" value="www.eyefind.info" (click)="onKeyboardOpen($event)">
        <img class="navbar icon" src="/assets/open-iconic/svg/x.svg" alt="X">
      </div>
    </div>

  </div>
</div>