.container {
    width: 1260px;
}

.content {
    display: flex;
    /* justify-content: space-between; */
}

.main {
    width: 820px;
    padding: 25px 10px;
}

.sidebar {
    width: 430px;
    padding: 25px 10px;
}