<div class="container">
  <h2>Eyefind Featured Websites</h2>
  <div class="sites">
    <img src="assets/images/featured_sites/credit_card_consolidation_kings.png" alt="Credit Card Consolidation Kings">
    <img src="assets/images/featured_sites/bill_binder.png" alt="Bill Binder">
    <img src="assets/images/featured_sites/lifeinvader.png" alt="Lifeinvader">
    <img src="assets/images/featured_sites/prop_208.png" alt="Prop 208">
    <img src="assets/images/featured_sites/six_figure_temps.png" alt="Six Figure Temps">
  </div>
</div>