<div class="container">
  <div class="title">
    <div class="icon">
      <img src="assets/images/bleet_icon.png" alt="Bleet icon">
    </div>
    <h2>Recent Bleets</h2>
  </div>
  <div class="tweets">
    <div class="tweet">
      <a class="user" href="#">@DIGIFARM</a>
      <p class="text">
        New characters available in the Digifarm store! Now your father can have a daughter that he pimps out when the crop yields are low! #Don'tLoseTheFarm
      </p>
    </div>
    <div class="tweet">
      <a class="user" href="#">@jaysonbugler</a>
      <p class="text">
        You know your life's bad when you have a small penis but you're too poor to overcompensate for it #liberalartsgraduate
      </p>
    </div>
  </div>
</div>