.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(240,240,240);
    border-top: 12px solid rgb(255,190,0);
    border-bottom: 1px solid darkgray;
}

.container .menu {
    width: 1260px;
    display: flex;
}

.menu .media {
    flex: 1;
    display: grid;
    grid-template-columns: 20% 80%;
    border-left: 1px solid darkgray;
    padding: 8px;
}

.menu .media:first-child {
    border-left: unset;
}

.menu-icon {
    margin: 2px;
    max-height: 40px;
}

.menu-icon img {
    height: 100%;
}

.menu-text {
    text-align: center;
    text-transform: uppercase;
}

.menu-text p {
    margin: unset;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 22px;
}