<div class="container">

  <div class="menu">

    <div class="media">
      <div class="menu-icon">
          <img src="/assets/open-iconic/svg/phone.svg" alt="Media and Entertainment icon">
      </div>
      <div class="menu-text">
        <p>Media and <br>
          Entertainment
        </p>
      </div>
    </div>

    <div class="media">
      <div class="menu-icon">
          <img src="/assets/open-iconic/svg/pie-chart.svg" alt="Media and Entertainment icon">
      </div>
      <div class="menu-text">
        <p>Food <br>
          and Drink
        </p>
      </div>
    </div>

    <div class="media">
      <div class="menu-icon">
          <img src="/assets/open-iconic/svg/dollar.svg" alt="Money and Services icon">
      </div>
      <div class="menu-text">
        <p>Money <br>
          and Services
        </p>
      </div>
    </div>

    <div class="media">
      <div class="menu-icon">
          <img src="/assets/open-iconic/svg/location.svg" alt="Travel and Transport icon">
      </div>
      <div class="menu-text">
        <p>Travel <br>
          and Transport
        </p>
      </div>
    </div>

    <div class="media">
      <div class="menu-icon">
          <img src="/assets/open-iconic/svg/lock-locked.svg" alt="Fashion and Health icon">
      </div>
      <div class="menu-text">
        <p>Fashion <br>
          and Health
        </p>
      </div>
    </div>

  </div>

</div>