.header {
    width: 1260px;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 940px auto 270px;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "logo span weather"
                         "search search random"; */
    padding-top: 100px;
    padding-bottom: 15px;
}

.logo.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    grid-area: logo;
    padding: 10px;
}

.logo img {
    max-width: 100%;
}

.weather {
    grid-area: weather;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 10px;
}

.weather .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1em;
}

.weather p {
    text-align: right;
    margin: unset;
}

img.weather-icon {
    height: 3em;
    width: auto;
    border-left: 3px solid white;
    padding-left: 1em;
}

.search {
    grid-area: search;
    width: 940px;
    height: 60px;
    display: flex;
    /* background-color: white; */
    /* margin: 10px 2em 10px 10px; */
    /* padding: 5px 15px; */
    /* padding-right: 5px; */
    /* border-radius: 7px; */
    /* background-color: white; */
}

.search-icon {
    padding: 12.5px 0;
    background-color: white;
    padding-left: 20px;
    border-radius: 7px 0px 0px 7px;
}

img.magnifying-glass-icon {
    min-height: 100%;
}

input#eyefindSearch {
    width: 100%;
    padding-left: 1.5em;
    border: none;
    font-size: larger;
    color: black;
    background-color: white;
    border-radius: 0px 7px 7px 0px;
}

input#eyefindSearch:focus {
    outline: none !important;
}

.random {
    grid-area: random;
    width: 270px;
    /* padding: 10px; */
    /* padding-left: 2em; */
}

button#randomButton {
    background-color: darkcyan;
    color: white;
    min-width: 100%;
    min-height: 100%;
    font-size: 1.25em;
    text-transform: uppercase;
}